@model List<CompanyDateDto>

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">



    <!-- Custom fonts for this template -->
     <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <link href="~/WebGrid/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Custom styles for this template -->
    <link href="~/WebGrid/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="~/WebGrid/css/dataTables.bootstrap4.min.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript-->
    <script src="~/WebGrid/js/jquery.min.js"></script>
    <script src="~/WebGrid/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/WebGrid/js/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/WebGrid/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/WebGrid/js/jquery.dataTables.min.js"></script>
    <script src="~/WebGrid/js/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/WebGrid/js/datatables-demo.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

   
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Üyelik Tarih Bilgileri</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_length" id="dataTable_length">
                                    <label>
                                        Show
                                        <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm">
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select> entries
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div id="dataTable_filter" class="dataTables_filter">
                                    <label>
                                        Search:
                                        <input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th>Personel Adı</th>
                                            <th>Personel Soyadı</th>
                                            <th>Doğum günü Tarihi</th>
                                          
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            if (item.End < DateTime.Now)
                                            {
                                                <tr class="text-danger">
                                                    <td>@item.CompanyName</td>
                                                    <td>@item.Name</td>
                                                    <td>@item.Start</td>
                                                  
                                                </tr>
                                            }
                                            else if (item.End.AddDays(2) < DateTime.Now)
                                            {
                                                <tr class="text-warning">
                                                    <td>@item.CompanyName</td>
                                                    <td>@item.Name</td>
                                                    <td>@item.Start</td>
                                                    
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td>@item.CompanyName</td>
                                                    <td>@item.Name</td>
                                                    <td>@item.Start</td>
                                                    
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
